
DB_USER=XX
DB_PASSWORD=XX
DB_NAME=XX

BETTER_AUTH_SECRET="XX"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000 # Public URL for client-side

DATABASE_URL="postgresql://postgres:XXX@localhost:5432/XX?schema=public"

# PayPal Credenciales (https://developer.paypal.com/)

NEXT_PUBLIC_PAYPAL_CLIENT_ID="XX"
PAYPAL_CLIENT_SECRET="XX"


# Sandbox_URL= "https://sandbox.paypal.com"
# Sandbox_email="XX@XX.com"
# Sandbox_password="XX"

# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token

#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders

# Cloudinary (https://console.cloudinary.com/)
CLOUDINARY_URL="cloudinary://XX:XX"
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="xx"
NEXT_PUBLIC_CLOUDINARY_API_KEY="xx"
CLOUDINARY_API_SECRET="xx"

# NEXT_PUBLIC_CLOUDINARY_SECURE_DISTRIBUTION="<Your Secure Distribution / CNAME>"
# NEXT_PUBLIC_CLOUDINARY_PRIVATE_CDN="<true|false>"

# AWS S3
# AWS_REGION="eu-south-2"
# AWS_S3_BUCKET="xx"
# AWS_ACCESS_KEY_ID="xx"
# AWS_SECRET_ACCESS_KEY="xx"
# DEPLOY_DOMAIN="xx"

