@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@theme {

  --font-family: var(--font-montserrat-medium);

  /* Primarios (Negros) */
  --color-primary: #030303;
  --color-primary-900: #121212;
  --color-primary-800: #3D3D3D;
  --color-primary-600: #5A5A5A;
  --color-primary-400: #A3A3A3;

  /* Secundarios (Blancos) */
  --color-secondary: #EBEBEB;
  --color-secondary-100: #E4E4E4;
  --color-secondary-200: #C8C8C8;
  --color-secondary-400: #9D9D9D;
  --color-secondary-500: #888888;

  /* Accent (Naranja) */
  --color-accent: #DA9343;
  --color-accent-500: #DFA15C;
  --color-accent-400: #E9BC8A;
  --color-accent-300: #EDC9A1;
  --color-accent-200: #F6E4D0;
}

/* Animaciones */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {

  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

/* Botones */

.btn-primary {
  @apply px-6 py-3 bg-accent text-white rounded-lg hover:bg-accent-500 transition-colors font-semibold;
}

.btn-secondary {
  @apply px-6 py-3 border border-secondary-200 rounded-lg hover:bg-secondary-100 transition-colors;
}

.btn-disabled {
  @apply bg-secondary-400 text-white py-2 px-4 rounded transition-all cursor-not-allowed dark:bg-primary-600 dark:text-secondary-400;
}

.btn-danger {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 transition-all;
}

#address-form input,
#address-form select {
  @apply p-2 rounded-md bg-white dark:bg-primary-800 dark:text-secondary dark:border dark:border-primary-600;
}